@import url(base.css);
.head_top{
    width: 3.77rem;
    height: 3.28rem;
    background: #ffffff;
    margin: 1.7rem auto 0rem;

}
.head_top p{
    line-height: 0.56rem;
    font-size: 0.26rem;
    font-family: 苹方;
    text-align: center;
    color: #2bd171;

}
.head_top .head_top2{
    font-size: 0.2rem;
    color: #acacac;
}
.head_bottom{
    width: 3.58rem;
    height: 0.6rem;
    background: #ffffff;
    margin-top: 5rem;
    margin-left: 1.94rem;
    border-bottom: 0.01rem solid #acacac;
    overflow: hidden;
    position: relative;
}
.head_bottom_left{
    width: 0.2rem;
    height: 0.1rem;
    background: #ffcb2e;
    margin-top: 0.26rem;
    border-radius: 0.05rem;
}
.head_bottom_right{
    outline: none;
    border: none;
    width: 3.18rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.2rem;
    color: #adadad;
    font-size: 0.21rem;
    padding-left: 0.22rem;


}
.head_bottom_go{
    width: 3.77rem;
    height: 0.7rem;
    background: #ffffff;
    margin: 0.27rem auto 0;
}
.head_top img{
    display: block;
    margin: 0 auto;
}
.head_bottom_go1{
    width: 2.76rem;
    height: 100%;
    margin: auto;
    background: #3E9DFF;
    border-radius: 0.35rem;
    color: #fff;
    font-size: 0.22rem;
    line-height: 0.7rem;
    text-align: center;
}
.animation{
    width: 0.5rem;
    height: 0.5rem;
    background: rgba(51,201,114,0.4);
    border-radius: 50%;
    position: absolute;
    top: 2.2rem;
    left: 3.5rem;
    animation:expand 2s infinite ;
}
@keyframes expand {
    0%{
        transform: scale(1,1);
    }
    20%{
        transform: scale(1.5,1.5);
    }
    30%{
        transform: scale(2,2);
    }
    40%{
        transform: scale(2.5,2.5);
    }
    50%{
        transform: scale(3,3);
    }
    60%{
        transform: scale(3.5,3.5);
    }
    70%{
        transform: scale(5,5);
    }
    80%{
        transform: scale(3.5,3.5);
    }
    90%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}
.animation1{
    width: 0.65rem;
    height: 0.65rem;
    background: rgba(51,201,114,0.3);
    border-radius: 50%;
    position: absolute;
    top: 2.1rem;
    left: 3.4rem;
    animation:expand 2s 0.02s infinite ;
}
